
.headline h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 77px;
}

.headline .red-btn {
    background: #e90000;
    border: 1px solid transparent;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 1px 8px;
    letter-spacing: 1px;
}